* {
    box-sizing: border-box;
}
body {
    height: 400px;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    background-color: #1e271d;
}
#container {
    margin-top: 50px;
    width: 50%;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    color: blue;
    border: 1px solid black;
    padding: 1em;
    margin: 0;
    background-color: white;
    margin: 0 auto;
}
#container h1 {
    font-size: 28px;
}
header{
    display: flex;
    background-color: rgba(156,255,50,70%);
    color: blueviolet;
    margin: 0;
    padding: 0.5em;
    box-shadow: 0px 10px 30px 0px rgba(156,255,50,70%);
    font-weight: bold;
}
header span{
    margin-top: 20px;
}
header img {
    width: 40px;
    margin: 10px
}
header #tagline {
    font-size: 12px;
    margin: 20px 10px;
    font-weight: normal;
}
footer {
    text-align: center;
    background-color: rgb(8, 83, 80);
    color: white;
    height: 40px;
    font-size: 20px;
}
footer p {
    margin: 0px;
    position: relative;
    top: 7px
}